*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFDAAF;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 0;
    background-color: #FFFAE7;
    border: 4px solid #F1DDBF;
    border-radius: 4px;
    color: #B22727;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 2px -2px gray;
}

button:hover {
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

button:active {
    transition: 0.1s;
    transform: scale(0.9);
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 8px;
}

.subtext {
    margin-bottom: 24px;
}

.calculator {
    padding: 12px;
    height: auto;
    width: 300px;
    background-color: #F5EDDC;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.model {
    margin: 12px 0;
    font-weight: bold;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 16px;
    background-color: #A1B57D;
    border: 4px solid #000;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    margin-bottom: 16px;
}

.calculations {
    color: #383838;
    font-style: italic;
}

.calculated {
    font-size: 38px;
}

.buttons {
    padding: 16px;
    background-color: #CFD2CF;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
}

.operator {
    background-color: #FABB51;
    border-color: #E59934;
    color: #fff;
}

#clear {
    background-color: #D9534F;
    border-color:  #B33030;
    color: #fff;
}

#delete {
    background-color: #FF6701;
    border-color: #D9534F;
    color: #fff;
}

#zero {
    grid-column: span 2;
}

#operate {
    grid-row: span 2;
    background-color: gainsboro;
    border-color: silver;
}